.banner{width:100%;height:400px;}
.banner #wrap{
    width: 100%;
    height: 400px;
    margin:0px auto;
    position: relative;
    overflow: hidden;
    li{
        float: left;
    }  
    img{
        vertical-align: top;
        width: 100%;
    } 

    .active{
        background: #f60;
    }
 
    #content{
        width: 11520px;
        position: absolute;
        left: -1920px;
        li{
            float: left;
        }
    }

    #tips{
        position: absolute;
        right: 20px;
        bottom: 5px;
        li{
            margin-left: 5px;
            border: 1px solid #f60;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            color: white;
            cursor: pointer;
        }
    }
}