.main{
	height:4199px;
	.showAd{
		height:200px;border-bottom:1px solid #ccc;
		ul{

			li{float:left;margin:25px;}			
		}
	}
	
	.shop1{
		height:1000px;
		border-bottom:1px solid #ccc;
		>img{width:100%;height:150px;}
		.txt{
			height:150px;
			img{float:left;margin:30px;}
			a{float:right;margin:30px;}
		}
		.show{
			.larger{transform:scale(1.1);}
			ul{
				li{
					padding:7px;
					float:left;
					span{color:#999;}
					a{	
						float:right;
						i{color:yellow;font-size:30px;}
					}
				}
			}
		}
	}
}