.main {
  height: 4199px; }
  .main .showAd {
    height: 200px;
    border-bottom: 1px solid #ccc; }
    .main .showAd ul li {
      float: left;
      margin: 25px; }
  .main .shop {
    height: 1000px;
    border-bottom: 1px solid #ccc; }
    .main .shop > img {
      width: 100%;
      height: 150px; }
    .main .shop .txt {
      height: 150px; }
      .main .shop .txt img {
        float: left;
        margin: 30px; }
      .main .shop .txt a {
        float: right;
        margin: 30px; }
    .main .shop .show .larger {
      transform: scale(1.1); }
    .main .shop .show ul li {
      padding: 7px;
      float: left; }
      .main .shop .show ul li h4 {
        color: #999;
        display: inline-block; }
        .main .shop .show ul li h4 span {
          color: #999; }
      .main .shop .show ul li a {
        float: right; }
        .main .shop .show ul li a i {
          color: yellow;
          font-size: 30px; }
